.album-header {
    text-align: center;
}

.album-button-divs {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 834px) {
    .album-button-divs {
        flex-direction: column;
        align-items: center;
    }
}

.album-details-content {
    margin: 8rem;
    background-color: rgba(237, 237, 237, 0.943);
    border: 10px solid #333;
    padding: 5px;
    width: 40%;
    height: 40%;
}

@media only screen and (max-width: 530px) {
    .album-details-content {
        width: 100%;
    }
}

.edit-album-details {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
    align-content: stretch;
}

.edit-album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.edit-album-image-container {
    height: 80%;
    width: 80%;
    padding-bottom: 5%;
}

.edit-album-image {
    height: 100%;
    width: 100%;
    min-width: 64px;
}

.album-title {
    text-decoration: underline;
}

.album-songs {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.album-song-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
    background-color: #333;
    padding: .35rem;
}

.album-details-title {
    color: azure;
    text-decoration: none;
}

@media screen and (max-width: 470px) {
    .album-songs {
        padding-left: 0;
        padding-right: 0.7rem;
    }
}
