/* TODO Add site wide styles */
html{
    background-image:
    url('./images/SoundCloudBackground.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    height: 46px;
}

.container{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: center;
    flex: 1;
}
