.header-root {
    background:  #333;
    height: 46px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    position: absolute;
    width: 100%;
}

.nav-links-logged-in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links-logged-out{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-button{
    margin-left: 0.5rem;
    margin-top: .15rem;
}

.nav-link{
    color: #ccc;
    text-decoration: none;
    padding-top: 0.25rem;
    font-size: 16;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.nav-link:hover{
    color:rgb(9, 9, 10)
}

.user-dropdown {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 04px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    line-height: 1.5;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    z-index: 1;
    right: 0.07rem;
    margin-top: 10.5em;
  }

  .logo{
    padding-top: 0.33rem;
    height: 32px;
    width: 32px;
  }

  .profile-logo{
    margin-right: 0.5rem;
  }

  .button-logout{
    color: #d33a2c;
    background-color: #FFE7E7;
    border: 1px solid #FEE0E0;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    font-size: 1em;
    font-weight: 700;
    align-items: left;
    padding-left: 0.33rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem;
  }

  a{
    font-weight: 500;
  }
